html{
    scroll-behavior: smooth;
}
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.navba{
    display: flex;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    height: 10vh;
    align-items: center;
}

.head{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.head .child{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;

}

.head h1{
    font-size: 6em;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
    color: transparent;
    background-image: linear-gradient(to left,#1a7896 ,#199cc6,#29c6fd);
    -webkit-background-clip: text;
    animation: animate 5s linear infinite;
    -webkit-background-size: 500%;
    background-size: 500%;
}
@keyframes animate{
    0%{
        background-position: 0 100%;
    }
    50%{
        background-position: 100% 0;
    }
    100%{
        background-position: 0 100%;
    }
}
.container{
    height: 100vh;
}
.navba > a{
    position: relative;
    text-decoration: none;
    letter-spacing: 2px;
    color: transparent;
    background-image: linear-gradient(to left,#1a7896 ,#199cc6,#29c6fd,#7addfc);
    -webkit-background-clip: text;
    animation: animate 5s linear infinite;
    -webkit-background-size: 500%;
    background-size: 500%;
}
.navba > a:after{
    content: "";
    position: absolute;
    background-color: dodgerblue;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -3px;
    transition: 0.3s;
}
a:hover:after{
    width: 100%;
}
.intro-wrap{
    margin-top: 100px;
    font-size: 20px;

}
section{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    display: flex;
    height: 100vh;
    align-items: center;
    flex-direction: column;
}
.pr{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    text-align: center;
    margin-bottom: 60px;
    font-weight: bold;
    color: transparent;
    background-image: linear-gradient(to left,#1a7896 ,#199cc6,#29c6fd,#7addfc);
    -webkit-background-clip: text;
    animation: animate 5s linear infinite;
    -webkit-background-size: 500%;
    background-size: 500%;
}
.heading-jumbo{
    height: 100vh;
    margin-top: 300px;
    font-size: 30px;
    font-weight: normal;
}
.card-title{
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}
.card{
    position: relative;
    max-width: 900px;
    align-content: center;
    border: none;
}

.carrer-headline-wrap{
    font-family: 'Montserrat', sans-serif;
}
.paragraph-tiny{
    font-size: 16px;
    line-height: 20px;
}
.paragraph-tiny.cc-paragraph-tiny-light{
    opacity: 0.9;
}
.paragraph-light{
    margin-top: 25px;
    opacity: 0.9;
    line-break: auto;
    font-size: 20px;
}
.paragraph-light.cc-position-name{
    margin-top: 0px;
    margin-bottom: 5px;
}
div.container.exp{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}
a {
    color: black;
    text-decoration: none;


}
a:hover {
    color: dodgerblue;
    text-decoration: none;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    margin-bottom: 100px;
    font-size: 40px;
    color: transparent;
    background-image: linear-gradient(to left,#1a7896 ,#199cc6,#29c6fd,#7addfc);
    -webkit-background-clip: text;
    animation: animate 5s linear infinite;
    -webkit-background-size: 500%;
    background-size: 500%;
}
.position-name-text{
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 30px;
    line-height: 34px;
    font-weight: 600;
    text-transform: none;
}
div.container.exp1{
    display: grid;
    width: 50%;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 1fr 1fr 1fr;
    color: white;
    gap: 20px;
}
.img1{
   height: 100%;
    width: 100%;
}


/*form*/
.container.fo {
    width: 100%;
    height: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 0px 20px #00000010;
    border-radius: 8px;
    margin-bottom: 20px;
}
.form-group {
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
}
.form-group input,
.form-group textarea {
    width: 100%;
    padding: 5px;
    font-size: 18px;
    border: 1px solid rgba(128, 128, 128, 0.199);
    margin-top: 5px;
}

textarea {
    resize: vertical;
}
button[type="submit"] {
    width: 30%;
    margin-left: 35%;
    margin-top: 5%;
    border: solid 1px;
    outline: none;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}
button[type="submit"]:hover {
    background-color:dodgerblue;
    color:#fff;
}
#status {
    width: 90%;
    max-width: 500px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    border-radius: 8px;
}
#status.success {
    background-color: rgb(211, 250, 153);
    animation: status 4s ease forwards;
}
#status.error {
    background-color: rgb(250, 129, 92);
    color: white;
    animation: status 4s ease forwards;
}
@keyframes status {
    0% {
        opacity: 1;
        pointer-events: all;
    }
    90% {
        opacity: 1;
        pointer-events: all;
    }
    100% {
        opacity: 0;
        pointer-events: none;
    }
}
/*footer style*/
.footer{
    margin-top: auto;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer p{
    color: black;
    font-size: 1.4rem;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;

}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.socials li{
    margin: 0 10px;
}

.socials a{
    color: black;
    font-size: 1.3rem;
}
.socials a:hover{
    color: dodgerblue;
    transition: color.4s ease;
}
@media only screen and (max-width: 700px) {
   .navba{
       display: flex;
       width: 70%;
       position: absolute;
       justify-content: space-around;
       font-family: 'Montserrat', sans-serif;
       font-size: 20px;
       font-weight: bold;
       height: 10vh;
       align-items: center;
       z-index: 2;
   }
}
.contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-bottom: 15px;
    font-size: 1.3rem;
}
.contact a{
    margin: 0 20px;
    text-align: center;
}
.contact a:hover{
    color: dodgerblue;
    transition: color.4s ease;
}